<div class="fount-contact-us">
  <h2>Contact Us</h2>
  <p>
    <input type="text" class="fount-contact-input" ng-model="subject" placeholder="Subject" required>
  </p>
  <!-- <p>
    <input type="text" class="fount-contact-input" ng-model="userEmail" placeholder="Your Email" required>
  </p> -->
  <p>
    <textarea class="fount-contact-textarea" rows="4" cols="50" placeholder="Your Message"></textarea>
  </p>
  <p>
    <input ng-click="" type="submit" class="button alt" name="woocommerce_checkout_place_order" value="Submit">
  </p>
</div>
