<li class="fount-sfl parent wishlist-item">
  <a ng-click="sflObj.showSflView != sflObj.showSflView" class="wishlist-link" title="View your wishlist"><i class="fa-star"></i><span>0</span></a>
  <ul ng-show="sflObj.showSflView" class="sub-menu">
    <li>
      <div class="wishlist-bag">
        <div class="bag-header">My wishlist on Neighborhood</div>
        <div class="bag-contents">
          <div class="wishlist-empty">Your wishlist is currently empty.</div>
        </div>
        <div class="bag-buttons">
          <a class="sf-roll-button shop-button">
            <span>Go to your wishlist</span>
            <span>Go to your wishlist</span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</li>
