<li class="fount-bag parent shopping-bag-item">
  <a ng-click="goToCart()" ng-mouseover="" ng-mouseout="" class="cart-contents" title="View your shopping bag"><i class="sf-cart"></i><span class="amount">{{shoppingCartInfo.subtotal | currency}}</span></a>
  <!-- <ul ng-show="bagObj.showBagView" class="sub-menu">
    <li>
      <div class="shopping-bag">
        <div class="bag-header">0 items in the shopping bag</div>
        <div class="bag-empty">Unfortunately, your shopping bag is empty.</div>
        <div class="bag-buttons">
          <a class="sf-roll-button shop-button"><span>Go to the shop</span><span>Go to the shop</span></a>
        </div>
      </div>
    </li>
  </ul> -->
</li>
