<div id="main-container" class="clearfix">
  <div class="page-heading  clearfix asset-bg alt-one">
    <div class="container">
      <div class="heading-text">
        <h1 class="entry-title">Seller</h1>
      </div>
    </div>
  </div>
  <div class="container admin-seller">
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tagger Commission Points</th>
        <th>User Commission Points</th>
        <th>Quality</th>
      </tr>
      <tr ng-repeat="seller in adminSellers">
        <td>{{seller.id}}</td>
        <td>{{seller.name}}</td>
        <td contenteditable="true" ng-model="seller.taggerCommissionPoints">{{seller.taggerCommissionPoints}}</td>
        <td contenteditable="true" ng-model="seller.userCommissionPoints">{{seller.userCommissionPoints}}</td>
        <td>
          <select ng-init="seller.quality = seller.quality" ng-model="seller.quality">
            <option value="LOW">LOW</option>
            <option value="HIGH">HIGH</option>
          </select>
        </td>
      </tr>
    </table>
    <div class="update_admin_seller">
      <input ng-click="updateAdminSeller()" type="submit" class="button alt" value="Update">
    </div>
  </div>
</div>
