<head>
	<link href="public/stylesheets/discover.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="public/javascripts/discover.js"></script>
</head>
<body>
<script>
//allocate items dynamicaly
</script>

<div id="container">
	<div id="item">
		<div id="pic">
			<img alt="item pic" src="http://i.imgur.com/VP0T8xS.jpg" />
		</div>
		<div id="picinfo">
			<div id="header">
				<ul>
					<li><img alt="item pic" src="http://i.imgur.com/PlMKMBy.png" width=110px;/></li>
					<li><font size=5 color="#5e5e5e"><b>neimanmarcus</b><!-- media.instagramUserName --></font></li>
					<li><div style="margin: 10px 0 -20px 50px;"><center><div><img alt="like" src="public/images/like.png" /></div><div><font size=3 color="#d6d6d6"><!-- media.likes --><br>52739</font></div></center></div></li>
				</ul>
			</div>
			<div id="content"><!-- media.caption --><font size=5 color="#5e5e5e">Datenight.Photo@rachparcell</font><br><font size=5 color="#4ac0d1">bobbibrown#NMbeauty#NMhandbags#<br>#pinkpeonies#saintlaurent#bobbibrown<br>#redlips#lotd |#liketkit@liketoknow.it<br>www.liketk.it/01Q8</font></div>
			<div id="user">
				<img alt="likeduser pic" src="http://i.imgur.com/PGeePm7.png" width=90px;/>
				<img alt="likeduser pic" src="http://i.imgur.com/bt2k3qp.png" width=90px;/>
				<img alt="likeduser pic" src="http://i.imgur.com/CTpztIw.png" width=90px;/>
				<img alt="likeduser pic" src="http://i.imgur.com/Et0r9zK.png" width=90px;/>
				<img alt="likeduser pic" src="http://i.imgur.com/BXy4FeN.png" width=90px;/>
				<div id="sec2"><font size=5 color="#4ac0d1"><a href="" > More...</a></font></div><div id="sec1"><font size=5 color="#5e5e5e">5 Likes	&nbsp;</font></div></div>
		</div>
	</div>
	<div id="filter">
			<table>
				<tr>
					<td id="info" style="width: 280px;"><font size=3
						color="#d6d6d6"> FILTER</font></td>
					<td id="brands" style="width: 280px;">
						<div class="dropdown">
							<div class="dropdown"><font size=3 color="#d6d6d6"> 
								BRANDS <span class="caret"></span></font>
							</div>
							<div class="dropdown-menu">
								<p><a href="#">Saint Laurent</a></p>
								<p><a href="#">Bobbi Brown</a></p>
								<p><a href="#">Tom Ford</a></p>
								<p><a href="#">Charlotte Olympia</a></p>
								<p><a href="#">Valextra</a></p>
								<p><a href="#">Dolce & Gabbana</a></p>
								<p><a href="#">Sisley Paris</a></p>
							</div>
						</div>
					</td>
					<td id="price" style="width: 560px;"><font size=3
						color="#d6d6d6"> PRICE<!-- <span
						style="display: inline-block; width: 400px; padding: 0 5px;"><input
							id="Slider3" type="text" name="area" value="25;75" /></span> -->
					</font></td>
					<td id="sort by" style="width: 280px;">
						<div class="dropdown">
							<div class="dropdown"><font size=3 color="#d6d6d6"> 
								SORT BY <span class="caret"></span></font>
							</div>
							<div class="dropdown-menu">
								<p><a href="#">Option A</a></p>
								<p><a href="#">Option B</a></p>
								<p><a href="#">Option C</a></p>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div id="details">
			<div class="items">
				<div>
					<p><font size=6 color="#4ac0d1">TAGGED <br>ITEMS<br><br><br><br><br></font></p>
				</div>
				<div>
					<p><font size=2 color="#5e5e5e">A fount of products tagged and <br>inspired from the host. Have fun<br> shopping!</font>
				</div>
			</div>
			<div class="items">
					<div><img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png" style="width:200px;"/></div>
					<center><h2>Saint Laurent</h2>
					<p>Cassandre Tassel Clutch Bag</p>
					<div id="price"><font size=3 color="#4ac0d1">$1500<br><br></font></div>
					<input type="image" src="http://i.imgur.com/8Ycesid.png" width=180 />
					<div><img style="display:inline-block;" alt="item pic" src="public/images/wishlist.png" width=40/><p style="display:inline-block;"><br><br>add to wish list<p>
					</div></center>
			</div>
			<div class="items">
					<div><img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png" style="width:200px;"/></div>
					<center><h2>Saint Laurent</h2>
					<p>Cassandre Tassel Clutch Bag</p>
					<div id="price"><font size=3 color="#4ac0d1">$1500<br><br></font></div>
					<input type="image" src="http://i.imgur.com/8Ycesid.png" width=180 />
					<div><img style="display:inline-block;" alt="item pic" src="public/images/wishlist.png" width=40/><p style="display:inline-block;"><br><br>add to wish list<p>
					</div></center>
			</div>
			<div class="items">
					<div><img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png" style="width:200px;"/></div>
					<center><h2>Saint Laurent</h2>
					<p>Cassandre Tassel Clutch Bag</p>
					<div id="price"><font size=3 color="#4ac0d1">$1500<br><br></font></div>
					<input type="image" src="http://i.imgur.com/8Ycesid.png" width=180 />
					<div><img style="display:inline-block;" alt="item pic" src="public/images/wishlist.png" width=40/><p style="display:inline-block;"><br><br>add to wish list<p>
					</div></center>
			</div>
			<div class="items">
					<div><img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png" style="width:200px;"/></div>
					<center><h2>Saint Laurent</h2>
					<p>Cassandre Tassel Clutch Bag</p>
					<div id="price"><font size=3 color="#4ac0d1">$1500<br><br></font></div>
					<input type="image" src="http://i.imgur.com/8Ycesid.png" width=180 />
					<div><img style="display:inline-block;" alt="item pic" src="public/images/wishlist.png" width=40/><p style="display:inline-block;"><br><br>add to wish list<p>
					</div></center>
			</div>
			<div class="items">
					<div><img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png" style="width:200px;"/></div>
					<center><h2>Saint Laurent</h2>
					<p>Cassandre Tassel Clutch Bag</p>
					<div id="price"><font size=3 color="#4ac0d1">$1500<br><br></font></div>
					<input type="image" src="http://i.imgur.com/8Ycesid.png" width=180 />
					<div><img style="display:inline-block;" alt="item pic" src="public/images/wishlist.png" width=40/><p style="display:inline-block;"><br><br>add to wish list<p>
					</div></center>
			</div>
			<div class="items">
					<div><img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png" style="width:200px;"/></div>
					<center><h2>Saint Laurent</h2>
					<p>Cassandre Tassel Clutch Bag</p>
					<div id="price"><font size=3 color="#4ac0d1">$1500<br><br></font></div>
					<input type="image" src="http://i.imgur.com/8Ycesid.png" width=180 />
					<div><img style="display:inline-block;" alt="item pic" src="public/images/wishlist.png" width=40/><p style="display:inline-block;"><br><br>add to wish list<p>
					</div></center>
			</div>
			<div class="items">
					<div><img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png" style="width:200px;"/></div>
					<center><h2>Saint Laurent</h2>
					<p>Cassandre Tassel Clutch Bag</p>
					<div id="price"><font size=3 color="#4ac0d1">$1500<br><br></font></div>
					<input type="image" src="http://i.imgur.com/8Ycesid.png" width=180 />
					<div><img style="display:inline-block;" alt="item pic" src="public/images/wishlist.png" width=40/><p style="display:inline-block;"><br><br>add to wish list<p>
					</div></center>
			</div>
			<div class="items">
					<div><img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png" style="width:200px;"/></div>
					<center><h2>Saint Laurent</h2>
					<p>Cassandre Tassel Clutch Bag</p>
					<div id="price"><font size=3 color="#4ac0d1">$1500<br><br></font></div>
					<input type="image" src="http://i.imgur.com/8Ycesid.png" width=180 />
					<div><img style="display:inline-block;" alt="item pic" src="public/images/wishlist.png" width=40/><p style="display:inline-block;"><br><br>add to wish list<p>
					</div></center>
			</div>
			<div class="items">
					<div><img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png" style="width:200px;"/></div>
					<center><h2>Saint Laurent</h2>
					<p>Cassandre Tassel Clutch Bag</p>
					<div id="price"><font size=3 color="#4ac0d1">$1500<br><br></font></div>
					<input type="image" src="http://i.imgur.com/8Ycesid.png" width=180 />
					<div><img style="display:inline-block;" alt="item pic" src="public/images/wishlist.png" width=40/><p style="display:inline-block;"><br><br>add to wish list<p>
					</div></center>
			</div>
			
		</div>

	</div>
</body>