<div id="main-container" class="clearfix">
  <div class="page-heading  clearfix asset-bg alt-one">
    <div class="container">
      <div class="heading-text">
        <h1 class="entry-title">Confirm Your Order</h1>
      </div>
    </div>
  </div>
  <div class="container order-confirm">
    <div class="shipping-and-billing">
      <div class="span6">
        <div class="shipping-billing-detail">
          <table>
            <thead>
              <tr>
                <th>Shipping Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{noauthCheckout.shippingFirstName}}&nbsp;{{noauthCheckout.shippingLastName}}</td>
              </tr>
              <tr>
                <td>{{noauthCheckout.shippingAddress}}</td>
              </tr>
              <tr>
                <td>{{noauthCheckout.shippingCity}}</td>
              </tr>
              <tr>
                <td>{{noauthCheckout.shippingState}}</td>
              </tr>
              <tr>
                <td>{{noauthCheckout.shippingZip}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="span6">
        <div class="shipping-billing-detail">
          <table>
            <thead>
              <tr>
                <th>Billing Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>{{noauthCheckout.cardType}}</strong> with last four digits <strong>{{noauthCheckout.cardNumber.substr(noauthCheckout.cardNumber.length-4)}}</strong></td>
              </tr>
              <tr>
                <td>{{noauthCheckout.cardName}}</td>
              </tr>
              <tr>
                <td>{{noauthCheckout.billingAddress}}</td>
              </tr>
              <tr>
                <td>{{noauthCheckout.billingCity}}</td>
              </tr>
              <tr>
                <td>{{noauthCheckout.billingState}}&nbsp;{{noauthCheckout.billingZip}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="span12">
      <div ng-repeat="productsGroup in shoppingCartGroups.shoppingCartProductGroups" class="cart-products-group">
        <div class="item-title">
          <div class="seller-name">
            <span>{{productsGroup.seller.name}}</span>
          </div>
        </div>
        <div ng-repeat="cartProduct in productsGroup.shoppingCartProducts">
          <div class="item">
            <div class="item-detail">
              <div class="product-image">
                <div class="item-image" ng-click="productDetail(cartProduct)">
                  <img ng-src="{{cartProduct.product.imageURL}}">
                </div>
              </div>
              <div class="product-detail">
                <div class="product-option" ng-click="productDetail(shoppingCart)">
                  <h2>{{cartProduct.product.name}}</h2>
                  <p ng-if="!!cartProduct.productMetadata.color && cartProduct.productMetadata.color != 'NA'">Color: {{cartProduct.productMetadata.color}}</p>
                  <p ng-if="!!cartProduct.productMetadata.size && cartProduct.productMetadata.size != 'NA'">Size: {{cartProduct.productMetadata.size}}</p>
                  <p ng-if="!!cartProduct.productMetadata.option && cartProduct.productMetadata.option != 'NA'">Option: {{cartProduct.productMetadata.option}}</p>
                  <p ng-if="!!cartProduct.productMetadata.style && cartProduct.productMetadata.style != 'NA'">Style: {{cartProduct.productMetadata.style}}</p>
                </div>
                <div ng-if="cartProduct.productMetadata.availability == 'AVAILABLE'" class="product-price">
                  <p>{{cartProduct.quantity}}x {{cartProduct.productMetadata.price | currency}}&nbsp;USD</p>
                  <h2 ng-class="{'product-not-available': shoppingCart.availability == false}">{{cartProduct.quantity*cartProduct.productMetadata.price | currency}}&nbsp;USD</h2>
                </div>
                <div ng-if="cartProduct.productMetadata.availability == 'UNAVAILABLE'" class="product-price">
                  <p>{{cartProduct.quantity}}x {{cartProduct.productMetadata.price | currency}}&nbsp;USD</p>
                  <h2 ng-class="{'product-not-available': shoppingCart.availability == false}">{{(cartProduct.quantity * cartProduct.productMetadata.price) | currency}}&nbsp;USD</h2>
                  <p class="product-not-available">Item is not available</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item-summary">
          <div class="row item-expense">
            <div class="col col-50 calm">SUBTOTAL</div>
            <div class="col col-50 font-grey">{{productsGroup.subTotal | currency}}</div>
          </div>
          <div class="row item-expense">
            <div class="col col-50 calm">EST. TAX</div>
            <div class="col col-50 font-grey">{{productsGroup.estimatedTax | currency}}</div>
          </div>
          <div class="row item-expense item-shipping">
            <div class="col col-50 calm">EST. SHIPPING</div>
            <div class="col col-50 font-grey">{{productsGroup.estimatedShippingPrice | currency}}</div>
          </div>
          <div class="row item-expense item-delivery">
            <div class="col col-50 calm">EST. DELIVERY DAYS</div>
            <div class="col col-50 font-grey">{{productsGroup.estimatedDeliveryDays.cheapest}}</div>
          </div>
          <div class="row item-expense item-return">
            <div class="col col-50 calm">RETURN & REFUND</div>
            <div class="col col-50 font-grey">*Order will be fulfilled by {{productsGroup.seller.name}}. Please refer to {{productsGroup.seller.name}} return & refund policy.</div>
          </div>
          <div class="row item-expense item-delivery">
            <div class="col col-50 font-grey">TOTAL ({{productsGroup.shoppingCartProducts.length}} <span ng-if="productsGroup.shoppingCartProducts.length == 1">ITEM</span><span ng-if="productsGroup.shoppingCartProducts.length > 1">ITEMS</span>)</div>
            <div class="col col-50 calm">{{productsGroup.totalPrice | currency}}</div>
          </div>
        </div>
      </div>
      <div ng-if="shoppingCartGroups.unavailableGroups.length > 0" class="unavailable-groups-header"><span>We're sorry. Products below are no longer available from the sellers.</span></div>
      <div ng-repeat="productsGroup in shoppingCartGroups.unavailableGroups" class="cart-products-group">
        <div class="item-title">
          <div class="seller-name">
            <span>{{productsGroup.seller.name}}</span>
          </div>
        </div>
        <div ng-repeat="cartProduct in productsGroup.shoppingCartProducts">
          <div class="item">
            <div class="item-detail">
              <div class="product-image">
                <div class="item item-image" ng-click="productDetail(cartProduct)">
                  <img ng-src="{{cartProduct.product.imageURL}}">
                </div>
              </div>
              <div class="product-detail">
                <div class="product-option" ng-click="productDetail(shoppingCart)">
                  <h2>{{cartProduct.product.name}}</h2>
                  <p ng-if="!!cartProduct.productMetadata.color && cartProduct.productMetadata.color != 'NA'">Color: {{cartProduct.productMetadata.color}}</p>
                  <p ng-if="!!cartProduct.productMetadata.size && cartProduct.productMetadata.size != 'NA'">Size: {{cartProduct.productMetadata.size}}</p>
                  <p ng-if="!!cartProduct.productMetadata.option && cartProduct.productMetadata.option != 'NA'">Option: {{cartProduct.productMetadata.option}}</p>
                  <p ng-if="!!cartProduct.productMetadata.style && cartProduct.productMetadata.style != 'NA'">Style: {{cartProduct.productMetadata.style}}</p>
                </div>
                <div class="product-price">
                  <p>{{cartProduct.quantity}}x {{cartProduct.productMetadata.price | currency}}&nbsp;USD</p>
                  <h2 ng-class="{'product-not-available': shoppingCart.availability == false}">{{(cartProduct.quantity * cartProduct.productMetadata.price) | currency}}&nbsp;USD</h2>
                  <p class="product-not-available">Item is not available</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span12 checkout-error-msg" ng-if="checkoutErrorMsg.enabled">
      <span>{{checkoutErrorMsg.description}}</span>
    </div>
    <div class="span12">
      <div class="place-order-btn">
        <input ng-click="confirmToPay()" type="submit" class="button alt" value="Place Order">
      </div>
    </div>
  </div>
</div>
